[Desktop Entry]
Encoding=UTF-8
Name=Link to A clear-day
Type=Link
URL=https://teamtreehouse.com/library/answer/build-a-weather-app/working-with-json/review-working-with-json?answer=25a15afd42e75bdc01f592298742d772&question_id=36442
Icon=text-html
